<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="clr"
                    class="org.springframework.boot.logging.logback.ColorConverter"/>

    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]){magenta} %clr(%-5level){highlight} %clr(%logger{36}){cyan} %clr([traceId=%X{traceId}]){yellow} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- ERROR 레벨만 별도 출력 - 스택트레이스 포함 -->
    <appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CONSOLE_ERROR"/>
    </root>

    <!-- SQL 로그 -->
<!--    <logger name="org.hibernate.SQL" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>-->

    <!-- 스프링 프레임워크 로그 -->
    <logger name="org.springframework" level="WARN"/>

    <!-- 애플리케이션 로그 -->
    <logger name="com.example.webhookassignment" level="INFO"/>

</configuration>